* {
    font-family: 'Poppins', Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.table {
    font-size: 10pt;
}

body {
    overflow-x: hidden;
    font-size: 10pt;
}

nav {
    font-size: 12pt;
}

/* .navbar .navbar-nav .nav-link {
    position: relative;
}

.navbar .navbar-nav .nav-link:hover {
    transition: all 0.5s;
    color: #ffc107;
}

.navbar .navbar-nav .nav-link::after {
    position: absolute;
    transition: all 0.5s;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #ffc107;
    color: transparent;
    width: 0%;
    content: '.';
    height: 3px;
}

.navbar .navbar-nav .nav-link:hover::after {
    width: 100%;
} */

.w3-animate-bottom {
    position: relative;
    animation: animatebottom 2s
}

@keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

.text-animate-bottom {
    position: relative;
    animation: animatebottomtext 2s
}

@keyframes animatebottomtext {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

.card {
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    padding: 14px 80px 18px 36px;
    cursor: pointer;
    border-color: #0f4275;
    animation: fadein 5s;
    -webkit-animation: fadein 5s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.card img {
    position: absolute;
    top: 20px;
    right: 15px;
    max-height: 120px;
}

.card-4 {
    background-image: url("../asset/img/ti-01.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 120px;
    position: relative;
    animation: animatebottom 2s
}

.card-5 {
    background-image: url("../asset/img/mi-01.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 120px;
    position: relative;
    animation: animatebottom 3s
}

.card-6 {
    background-image: url("../asset/img/pindahan-01.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 120px;
    position: relative;
    animation: animatebottom 2s
}

/* .card-1 {
    background-image: url('../asset/img/ti-01.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

.card-2 {
    background-image: url(https://ionicframework.com/img/getting-started/components-card.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
    position: relative;
    animation: animatebottom 3s
}

.card-3 {
    background-image: url(https://ionicframework.com/img/getting-started/theming-card.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
    position: relative;
    animation: animatebottom 4s
} */

.card:hover {
    transform: scale(1.06);
    box-shadow: 0 15px 20px rgba(14, 61, 218, 0.12), 0 4px 8px rgba(0, 0, 0, .06);
    border-color: #ffc107;
}

.bg-blues {
    background-color: #0f4275;
}

.text-blues {
    color: #0f4275;
}

.btn-blues {
    color: #fff;
    background-color: #0f4275;
    border-color: #fff;
}

.shadow-xl {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19)
}

/* Let's get this party started */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */

::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
    -webkit-border-radius: 8px;
    border-radius: 40px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 8px;
    border-radius: 40px;
    background: rgba(226, 183, 10, 0.933);
    /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); */
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(252, 234, 160, 0.4);
}